html, body {
 min-height: 100vh; 
}

footer {
    color: white;
    padding: 15px;
    left: 0;
    bottom: 0;
}

  .carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}