/* PRIMARY COLORS */

.dotik-logo-green {
  background-color: #007a7e;
}

.dotik-banner-green {
  background-color: #3a8289;
}

.dotik-brown{
  background-color: #e7a982;
}

.dotik-dark-brown {
  background-color: #c98b64;
}

/* CSS */
html, body {
 min-height: 100vh; 
}

.jumbotron {
  background-image: url("images/jumbo-banner.jpg");
  background-size: cover; 
  
  background-position:top center;
  color: white;
  padding: 8em;
  
}

footer {
  color: white;
  padding: 15px;
  left: 0;
  bottom: 0;
  font-size: small;
}

footer a {
  color:white;
}

footer a:hover {
  color:  #e7a982;
}

.iframe-container {
  overflow: hidden;
}

a {
  color: black;
}

a:hover {
  color:  #c98b64;
}


.navbar-dark .navbar-nav .nav-link{
  color:white;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color:  #e7a982;
}

.social-media {
  width: 50px;
  
}

.social-media:hover {
  opacity: 0.5;
  cursor: pointer;
}

